name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Build
        run: bun run build
        
      # Create a zip of the dist folder for the release
      - name: Archive Production Artifact
        run: zip -r examify-dist.zip dist/ package.json README.md LICENSE

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: examify-dist.zip
          generate_release_notes: true
